<mat-sidenav-container class="sidebar-container">
  <mat-sidenav #drawer class="sidebar" fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <div class="wrapper">
        <div class="sidebar">
          <div class="profile profile-section">
            <img src="../assets/images/GCLMS.PNG">
            <h3>{{ userName }}</h3>
            <p class="profile-name">{{ userPosition }}</p>
          </div>          
          <ul>
            <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/main/dashboard" routerLinkActive="active-link">
                <div class="item-content">
                  <mat-icon>dashboard</mat-icon>
                  <span class="text">Dashboard</span>
                </div>
              </a>
            </li>
            <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: false }">
              <a routerLink="/main/locker" routerLinkActive="active-link">
                <div class="item-content">
                  <mat-icon>lock_open</mat-icon>
                  <span class="text">Lockers</span>
                </div>
              </a>
            </li>
            <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/main/report" routerLinkActive="active-link">
                <div class="item-content">
                  <mat-icon>pie_chart</mat-icon>
                  <span class="text">Reports</span>
                </div>
              </a>
            </li>
            <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/main/history" routerLinkActive="active-link">
                <div class="item-content">
                  <mat-icon>history</mat-icon>
                  <span class="text">History</span>
                </div>
              </a>
            </li>
            <div class="logout-icon-container">
              <button mat-icon-button (click)="logout()">
                <mat-icon>logout</mat-icon>
              </button>
            </div>
          </ul>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button *ngIf="(isHandset$ | async)" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" class="toggle-button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="toolbar-title">LOCKER</span>
      <div class="spacer"></div>
      <span class="datetime">
        <mat-icon>calendar_today</mat-icon> {{ getCurrentDateTime() }}
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
