<section id="content" style="background-color: #F5EFE6;">
  <main>
    <div class="head-title">
      <h1>LOCKER</h1>
    </div>
    <h1 class="subtext">LOCKER <i class='bx bxs-lock'></i></h1>
    <div class="additional-content"></div>
  <hr>
  <button class="add-locker-button" (click)="navigateToAddLocker()">
    <span class="material-icons">library_add</span>
    Add Locker
  </button>
  
  <div class="indicator-container">
    <div class="sort-container" #sortDropdown>
      <label for="sort-by" class="sort-label">Sort by:</label>
      <div class="select-wrapper">
        <select [(ngModel)]="selectedSort" (change)="applySort(selectedSort)">
          <option value="all">All</option>
          <option value="available">Available</option>
          <option value="occupied">Occupied</option>
          <option value="unavailable">Unavailable / Damages / Misplaced Items</option>
        </select>
      </div>
    </div>
    <div class="indicator-box occupied">
      <span class="indicator-text">Occupied</span>
    </div>
    <div class="indicator-box available">
      <span class="indicator-text">Available</span>
    </div>
    <div class="indicator-box unavailable">
      <span class="indicator-text">Unavailable / Damages / Misplaced Items</span>
    </div>
  </div>

  <input #barcodeInput type="number" [(ngModel)]="barcodeValue" (ngModelChange)="onBarcodeValueChange($event)" class="hidden-input">

  <div *ngIf="isLoading; else contentTemplate">
    <app-skeleton-loader [isLoading]="isLoading"></app-skeleton-loader>
  </div>

  <ng-template #contentTemplate>
    <div class="flex-container">
      <div *ngIf="filteredLockers.length === 0" class="no-locker-message">
        <img src="../assets/images/not-found.png" alt="No locker found" style="width: 200px; height: 200px; margin-bottom: 10px;">
        <h2>No locker found</h2>
        <p style="color: red; font-size: 18px; margin-left: -20px;">Please check back later.</p>
      </div>

      <div class="flex-box" *ngFor="let locker of filteredLockers" (click)="openPopup(locker.Id)">
        <div class="locker-number">{{ locker.locker_number }}</div>
        <img [src]="getLockerImage(locker.status)" alt="">
        <div *ngIf="locker.status === 'Unavailable' && isRemarksPresent(locker)" class="remark-text">Misplaced Items</div>
      </div>
    </div>
  </ng-template>
</main>

</section>
